#introduction {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

#greetings-text {
  overflow: hidden;
  position: relative;
  background: transparent;

  filter: drop-shadow(2px 10px 10px rgb(0 0 0 / 0.2));
}

@media (max-width: 750px) {
  #greetings-text {
    scale: 0.8;
  }
}

.hide-greetings {
  display: none;
}

.display-greetings {
  animation: animate-greetings 2s ease-in-out forwards;
}

@keyframes animate-greetings {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#scroll-helper {
  position: absolute;
  width: 4em;
  left: 50%;
  bottom: 5em;
  opacity: 0.4;
  transform: translateX(-50%);
  animation: scroll-helper-animation 2s ease-in-out infinite;
}

@keyframes scroll-helper-animation {
  0% {
    transform: translateY(0%);
  } 50% {
    transform: translateY(10%);
  } 100% {
    transform: translateY(0%);
  }
}

#swipe-helper {
  position: absolute;
  width: 4em;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5em;
  opacity: 0.4;
  animation: swipe-helper-animation 3s ease-in-out infinite;
}

@keyframes swipe-helper-animation {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  } 20% {
    opacity: 0.4;
  } 50% {
    transform: translateX(0%);
    opacity: 0.4;
  } 70% {
    opacity: 0.4;
    transform: translateX(0%);
  } 80% {
    opacity: 0;
    transform: translateX(0%);
  } 100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}