#navbar-section {
  position: fixed;
  top: 5%;
  left: 50%; /* Set to 50% to horizontally center */
  transform: translate(-50%, -50%); /* Adjust to center both horizontally and vertically */
  display: flex;
  flex-wrap: nowrap;
  width: 30vw;
  justify-content: space-evenly;
  align-content: center;
  z-index: 1000;
}

.navbar-item {
  color: gray;
  font-size: large;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: 0.1s;
}

.navbar-item:hover {
  background-color: #00000030;
  color: white;
}

.activeNav {
  background: -webkit-linear-gradient(#d499f8, #902CCD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}