#skills-container {
  width: 120vw;
  scroll-snap-align: start;
  margin: 0 0 -7em 0;
}

#skills {
  width: 30vw;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.display-table {
  animation: display 1.5s ease-in-out forwards;
  width: 100%;
  overflow: hidden;
}

.skill-table-item {
  text-align: center;
  margin: 0;
  scale: 0.8;
  filter: drop-shadow(2px 10px 10px rgb(0 0 0 / 0.2));
  transition: 0.3s;
}

.skill-icon {
  width: 90%;
  padding: 0.2em;
}

@media (max-width: 750px) {
  #skills {
    width: 80vw;
    justify-content: center;
  }
  #skills-container {
    width: 200vw;
    display: flex;
    margin: 0 0 -2em 0;
  }
}

/* @keyframes display {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */