#skills-container {
  width: 100vw;
}

#skills {
  width: 30vw;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section-title {
  animation: display 1.5s ease-in-out forwards;
  font-size: 4em;
  margin: 1em auto;
  font-weight: 700;
  background: -webkit-linear-gradient(#d6d6d6, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hide {
  display: none;
}

.display-table {
  animation: display 1.5s ease-in-out forwards;
  width: 100%;
  overflow: hidden;
}

.skill-table-item {
  text-align: center;
  margin: 0;
  scale: 0.8;
  filter: drop-shadow(2px 10px 10px rgb(0 0 0 / 0.2));
}

.skill-icon {
  width: 90%;
  padding: 0.2em;
}

@keyframes display {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}